<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Muy bien!</strong> Su mensaje ha sido enviado exitosamente! El anunciante lo recibirá en brevedad y se pondrá en contacto contigo!
</div>
